In [8]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, Text

# Sample data for demonstration purposes


# Create DataFrame
df = pd.read_csv("assistant/data/courssistant_main.csv")

# Add an id column
df['id'] = range(1, len(df) + 1)

# Reorder columns if necessary
df = df[['id'] + [col for col in df.columns if col != 'id']]

# Establish a connection to the MySQL database
DATABASE_TYPE = 'mysql+pymysql'
DBAPI = 'pymysql'
HOST = 'localhost'
USER = 'root'
PASSWORD = ''
DATABASE = 'duck_demo'

DATABASE_URL = f"{DATABASE_TYPE}://{USER}:{PASSWORD}@{HOST}/{DATABASE}"
engine = create_engine(DATABASE_URL)
# Course Name,University,Difficulty Level,
# Course Rating,Course URL,Course Description,
# Skills,Specialized,Name Adjusted,Description Adjusted,
# Sequence,Vector,IDF,BERT_Encoded,Course_Name_Encoded

# Define the metadata and table structure
metadata = MetaData()
courses = Table('courses', metadata,
                Column('id', Integer, primary_key=True),
                Column('CourseName', String(255)),
                Column('University', String(255)),
                Column('DifficultyLevel', String(50)),
                Column('CourseRating', Float),
                Column('CourseDescription', Text),
                Column('Skills', Text),
                Column('Specialized', String(255)),
                Column('SkillVectors', Text)
                )

# Create the table
metadata.create_all(engine)

# Insert data into the SQL table
df.to_sql('courses', engine, if_exists='append', index=False)

print("Data imported successfully.")

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'BERT_Encoded' in 'field list'")
[SQL: INSERT INTO courses (id, `CourseName`, `University`, `DifficultyLevel`, `CourseRating`, `CourseDescription`, `Skills`, `Specialized`, `BERT_Encoded`, `Course_Name_Encoded`, `SkillVectors`) VALUES (%(id)s, %(CourseName)s, %(University)s, %(DifficultyLevel)s, %(CourseRating)s, %(CourseDescription)s, %(Skills)s, %(Specialized)s, %(BERT_Encoded)s, %(Course_Name_Encoded)s, %(SkillVectors)s)]
[parameters: ({'id': 1, 'CourseName': 'Write A Feature Length Screenplay For Film Or Television', 'University': 'Michigan State University', 'DifficultyLevel': 'Beginner', 'CourseRating': 4.8, 'CourseDescription': 'Write a Full Length Feature Film Script  In this course, you will write a complete, feature-length screenplay for film or television, be it a serious ... (2293 characters truncated) ... egarding the protection of your original work, Coursera\'s privacy policy protects the learner\'s IP and you are indeed the sole owners of your work.', 'Skills': 'drama comedy peer screenwrite film document review dialogue creative writing write unix shell art humanity music art', 'Specialized': 'Arts and Humanities', 'BERT_Encoded': '[ 3.09797049e-01  8.47295076e-02  4.00437832e-01 -1.48161754e-01\n  3.40774000e-01 -2.13688031e-01  1.81881845e-01  6.07170612e-02\n  2.39500314e-01  ... (12373 characters truncated) ...  -2.94835567e-01\n -7.09379092e-03 -5.74093834e-02 -1.00813262e-01  3.38819809e-02\n -3.86418045e-01 -2.76028365e-01 -1.55028850e-01 -1.22281611e-01]', 'Course_Name_Encoded': '[ 5.41240990e-01  1.87071562e-01 -3.78979407e-02 -5.19815028e-01\n  4.41159070e-01 -2.01266676e-01  3.46855223e-01  3.46144289e-01\n  1.26488507e-02  ... (12373 characters truncated) ...  -4.54778314e-01\n  1.86422408e-01 -3.15013602e-02 -1.59579754e-01 -9.86327082e-02\n -1.60535529e-01 -5.61111867e-01  3.78818177e-02 -5.98151624e-01]', 'SkillVectors': '[-0.003577765543013811, 0.017490142956376076, -0.0033255722373723984, -0.03910653665661812, -0.060517556965351105, 0.03913932666182518, 0.04237127304 ... (8133 characters truncated) ...  0.1423165649175644, -0.02745554968714714, 0.0437077097594738, 0.025211431086063385, 0.03387808799743652, 0.06794630736112595, -0.013798312284052372]'}, {'id': 2, 'CourseName': 'Business Strategy: Business Model Canvas Analysis with Miro', 'University': 'Coursera Project Network', 'DifficultyLevel': 'Beginner', 'CourseRating': 4.8, 'CourseDescription': 'By the end of this guided project, you will be fluent in identifying and creating Business Model Canvas solutions based on previous high-level analys ... (444 characters truncated) ... ill practice critically examining results from previous analysis and research results in deriving the values for each of the business model sections.', 'Skills': 'finance business plan persona user experience business model canvas planning business project product development presentation strategy business business strategy', 'Specialized': 'Business', 'BERT_Encoded': '[-1.62370950e-02 -5.21499366e-02  3.00578505e-01 -1.77206174e-01\n  5.03318071e-01 -4.15995531e-02  1.15748867e-01 -1.76258266e-01\n -9.42194983e-02  ... (12373 characters truncated) ...   4.82833982e-02\n  1.67111710e-01 -3.24607819e-01  1.37604075e-02 -1.97943643e-01\n -2.23762065e-01 -4.44235563e-01 -1.27128595e-02 -1.04226932e-01]', 'Course_Name_Encoded': '[-6.51201755e-02 -3.22493613e-01  4.73578013e-02 -3.04894708e-02\n  2.99983829e-01  1.04244031e-01 -1.86212268e-02 -4.56806198e-02\n -4.05726433e-01  ... (12373 characters truncated) ...  -2.00247005e-01\n  4.27529156e-01 -3.43483239e-01  1.73712209e-01 -1.49738789e-03\n -3.22111666e-01 -5.48149228e-01 -3.28696780e-02 -2.21073199e-02]', 'SkillVectors': '[0.03897735849022865, 0.06576909124851227, -0.018436890095472336, -0.08816923201084137, -0.06679803133010864, 0.057104673236608505, 0.031084138900041 ... (8141 characters truncated) ... 1101576630026102, -0.03632121905684471, 0.008832341991364956, -0.08475731313228607, -0.032366376370191574, -0.03924548625946045, 0.02597576007246971]'}, {'id': 3, 'CourseName': 'Silicon Thin Film Solar Cells', 'University': '�cole Polytechnique', 'DifficultyLevel': 'Advanced', 'CourseRating': 4.1, 'CourseDescription': 'This course consists of a general presentation of solar cells based on silicon thin films.   It is the third MOOC of the photovoltaic series of Ecole ... (1481 characters truncated) ... hotovoltaic-solar-energy/) Physics of silicon solar cells (https://www.coursera.org/learn/physics-silicon-solar-cells/) Silicon thin film solar cells', 'Skills': 'chemistry physics solar energy film lambda calculus electrical engineering electronic energy silicon thinning physical science engineering electrical engineering', 'Specialized': 'Physical Science and Engineering', 'BERT_Encoded': '[ 1.11734010e-01  2.74278969e-01  4.72731978e-01 -9.58294049e-02\n  4.40950245e-01 -1.75257877e-01 -2.99028546e-01  1.59437791e-01\n -2.19941258e-01  ... (12373 characters truncated) ...   4.12335359e-02\n  1.70776650e-01 -1.53588638e-01 -1.59298614e-01 -2.42357418e-01\n -2.25618050e-01 -1.07743479e-01 -1.51988640e-01  1.26043350e-01]', 'Course_Name_Encoded': '[ 5.20683348e-01 -1.06733255e-01  5.58283515e-02 -3.41993906e-02\n  1.89955547e-01 -2.71025777e-01 -4.67856854e-01  3.37460041e-01\n -4.17563021e-01  ... (12373 characters truncated) ...   7.00100064e-02\n -9.06146094e-02 -3.14033926e-01 -2.00211838e-01  1.31387189e-01\n -1.22605816e-01  2.21463129e-01 -2.54984111e-01  6.34481385e-02]', 'SkillVectors': '[-0.08079390972852707, 0.09204946458339691, 0.031788624823093414, 0.052863482385873795, -0.044645797461271286, -0.062284041196107864, 0.0946914777159 ... (8146 characters truncated) ... 038920044898987, -0.02397906221449375, -0.01825207844376564, 0.030083397403359413, -0.028741296380758286, 0.011611193418502808, 0.020695634186267853]'}, {'id': 4, 'CourseName': 'Finance for Managers', 'University': 'IESE Business School', 'DifficultyLevel': 'Intermediate', 'CourseRating': 4.8, 'CourseDescription': 'When it comes to numbers, there is always more than meets the eye.  In operational finance, you will learn how to read the �story� that the balance s ... (270 characters truncated) ... king capital. Finally, by the end of the course you will understand the financial consequences of managerial decisions on operations, marketing, etc.', 'Skills': 'account receivable dupont analysis analysis accounting finance operation management leadership management balance sheet inventory financial analysis business finance', 'Specialized': 'Business', 'BERT_Encoded': '[-4.35874946e-02  1.21336013e-01  3.25895667e-01 -2.74266928e-01\n  3.68509293e-01 -4.02643830e-02  8.78207535e-02  9.34367329e-02\n -2.40370296e-02  ... (12373 characters truncated) ...  -2.86083579e-01\n  2.81003445e-01 -1.41316384e-01 -7.28520229e-02 -6.16692267e-02\n -3.53596658e-01 -3.76437902e-01 -8.91905576e-02 -7.23027885e-02]', 'Course_Name_Encoded': '[-8.81503224e-02 -1.38620347e-01 -2.96908081e-01 -2.04646215e-02\n  2.76595950e-02 -2.23860055e-01  2.10682333e-01 -1.03758261e-01\n  9.11175460e-02  ... (12373 characters truncated) ...  -4.10506934e-01\n  1.71454698e-01 -2.99627066e-01  4.35955137e-01 -2.27641895e-01\n -1.33021072e-01 -3.02000195e-01 -1.47403970e-01 -1.73652992e-01]', 'SkillVectors': '[0.0005424825940281153, 0.028139270842075348, -0.009125236421823502, -0.03524031490087509, -0.037748370319604874, 0.008895492181181908, 0.05446695908 ... (8138 characters truncated) ... 01120610348880291, -0.03686105087399483, -0.0826541930437088, 0.048175450414419174, -0.0529349111020565, 0.043548692017793655, -0.028631124645471573]'}, {'id': 5, 'CourseName': 'Retrieve Data using Single-Table SQL Queries', 'University': 'Coursera Project Network', 'DifficultyLevel': 'Beginner', 'CourseRating': 4.6, 'CourseDescription': 'In this course you�ll learn how to effectively retrieve data from a relational database table using the SQL language.   We all know that most compute ... (1405 characters truncated) ...  course works best for learners who are based in the North America region. We�re currently working on providing the same experience in other regions.', 'Skills': 'datum analysis select sql database management system online shopping table database datum retrieval database web page number spreadsheet sql information technology datum management', 'Specialized': 'Information Technology', 'BERT_Encoded': '[ 6.04762919e-02  3.37209962e-02  4.53004211e-01 -6.08876199e-02\n  4.52899188e-01 -2.72814661e-01  2.58051991e-01  2.85012722e-01\n  3.83905065e-03  ... (12373 characters truncated) ...  -4.44836706e-01\n  2.38377061e-02 -1.40256986e-01 -3.52519117e-02 -1.16471857e-01\n -1.63774773e-01 -4.11336780e-01 -8.08452070e-03  9.25993323e-02]', 'Course_Name_Encoded': '[-2.00979590e-01 -8.56521949e-02  3.17591250e-01 -4.56997938e-02\n  2.16254875e-01 -1.90581292e-01  1.86210558e-01  1.02180496e-01\n  1.38809204e-01  ... (12373 characters truncated) ...   1.15277842e-01\n -1.80654317e-01 -3.89632314e-01 -9.05583054e-02  6.82359785e-02\n -1.52185764e-02 -4.69065040e-01 -5.37660345e-02  8.23546126e-02]', 'SkillVectors': '[0.00521202152594924, -0.0020099657122045755, -0.09702686965465546, -0.07515585422515869, -0.048266466706991196, -0.02962660789489746, 0.087336421012 ... (8115 characters truncated) ... 6753931287676096, 0.06222527101635933, -0.01934610866010189, 0.03659527748823166, -0.005354102235287428, -0.024038899689912796, -0.00721122557297349]'}, {'id': 6, 'CourseName': 'Building Test Automation Framework using Selenium and TestNG', 'University': 'Coursera Project Network', 'DifficultyLevel': 'Beginner', 'CourseRating': 4.7, 'CourseDescription': 'Selenium is one of the most widely used functional UI automation testing tools and TestNG is a brilliant testing framework.  Test automation framewor ... (455 characters truncated) ... ture code which is easy to maintain and understand, creating helper classes or utilities, write effective testcases, and generating reports and logs.', 'Skills': 'maintenance test case test automation screenshot project helper class selenium reusability debug php computer science software development', 'Specialized': 'Computer Science', 'BERT_Encoded': '[ 2.04849929e-01 -1.79055631e-02  3.45615029e-01 -2.51106173e-03\n  3.37263435e-01 -2.26505712e-01  3.43805820e-01  3.01848017e-02\n  2.41657808e-01  ... (12373 characters truncated) ...   1.36334047e-01\n -1.52642101e-01 -2.94915974e-01 -1.09174013e-01  1.48060665e-01\n -1.61945522e-01 -4.39502895e-01 -1.77297652e-01 -1.42397031e-01]', 'Course_Name_Encoded': '[ 1.82914972e-01  3.04992795e-02  2.74965733e-01  4.96946685e-02\n  3.39113474e-01 -5.13722718e-01  1.15767606e-01  2.97859218e-02\n  3.23509604e-01  ... (12373 characters truncated) ...   6.96622506e-02\n  1.15166791e-01 -1.74581096e-01 -1.94278717e-01  4.39150222e-02\n  1.11762799e-01 -4.80718106e-01 -1.16808891e-01  9.70387161e-02]', 'SkillVectors': '[-0.050122134387493134, 0.018081549555063248, -0.0031687815207988024, 0.025733165442943573, 0.06970240920782089, -0.08489862084388733, -0.00393666699 ... (8118 characters truncated) ... 3374899551272392, 0.012310398742556572, 0.021824484691023827, -0.02192242629826069, 0.07192644476890564, 0.08992462605237961, -0.0015011226059868932]'}, {'id': 7, 'CourseName': 'Doing Business in China Capstone', 'University': 'The Chinese University of Hong Kong', 'DifficultyLevel': 'Advanced', 'CourseRating': 3.3, 'CourseDescription': 'Doing Business in China Capstone enables you to apply your skills to real business challenges. You�ll use your newly earned business skills to identi ... (107 characters truncated) ... sultant working for a well-established �HON / wellness� company.  The CEO has given you a task.  You have to bring a new overseas product into China.', 'Skills': 'marketing plan plan marketing consumption economic wait system call business plan strategic planning audience project write business business strategy', 'Specialized': 'Business', 'BERT_Encoded': '[ 9.41143632e-02  2.74621397e-01  6.35787904e-01 -2.18358874e-01\n  5.45799494e-01 -2.50854194e-01  2.18855649e-01 -1.00637376e-02\n  7.06715807e-02  ... (12373 characters truncated) ...  -3.62088531e-01\n  3.19879353e-01 -8.64302292e-02 -1.41198993e-01 -7.16502890e-02\n -1.90740332e-01 -6.16982818e-01  1.78149217e-04 -5.24136961e-01]', 'Course_Name_Encoded': '[ 4.27852273e-02  1.64675638e-01  3.86866964e-02 -1.92939237e-01\n  1.26389310e-01 -4.49424200e-02 -1.05584376e-01  1.55333802e-01\n -1.64751142e-01  ... (12373 characters truncated) ...  -1.92913398e-01\n  3.36019605e-01 -2.14091703e-01  2.60821909e-01 -1.98682621e-01\n -1.25660077e-01 -1.90837428e-01 -4.98901941e-02 -2.37512067e-01]', 'SkillVectors': '[-0.013395838439464569, 0.013195780105888844, -0.06461060047149658, -0.047304101288318634, 0.007795622106641531, 0.09935338795185089, 0.0187701042741 ... (8149 characters truncated) ... 02605568803846836, 7.839285535737872e-05, 0.05617466941475868, -0.01203919667750597, 0.0006170790875330567, -0.08330703526735306, 0.0762120708823204]'}, {'id': 8, 'CourseName': 'Programming Languages, Part A', 'University': 'University of Washington', 'DifficultyLevel': 'Intermediate', 'CourseRating': 4.9, 'CourseDescription': 'This course is an introduction to the basic concepts of programming languages, with a strong emphasis on functional programming. The course uses the  ... (1613 characters truncated) ... d list of topics for all three parts of the course, but it is expected that most course participants will not (yet!) know what all these topics mean.', 'Skills': 'inference ml program language high order function functional programming type inference pattern match euler totient function language recursive function computer programming computer science software development', 'Specialized': 'Computer Science', 'BERT_Encoded': '[ 2.13761572e-02  2.16752440e-02  3.58958244e-01 -7.74451569e-02\n  1.49102136e-01 -2.08163157e-01  3.98007661e-01  2.20975187e-03\n  1.31147668e-01  ... (12373 characters truncated) ...  -1.64951444e-01\n -5.49085950e-03 -8.68378580e-02 -6.83927536e-02  2.18814779e-02\n -1.22823335e-01 -3.29812407e-01 -1.49503365e-01  5.82176782e-02]', 'Course_Name_Encoded': '[-8.40234756e-03  1.08190916e-01 -1.78159148e-01 -1.79141492e-01\n -1.60036869e-02  6.24622479e-02  2.23743349e-01  8.00880417e-02\n  4.74444926e-02  ... (12373 characters truncated) ...   2.58935150e-02\n  1.37191162e-01 -7.85719231e-02  5.64323291e-02  5.51784262e-02\n  1.80594742e-01 -2.31023073e-01 -1.94110662e-01  3.96786004e-01]', 'SkillVectors': '[-0.08886492252349854, -0.060071542859077454, 0.04864233359694481, -0.07211609184741974, -0.05762898176908493, -0.03143170103430748, 0.02169284783303 ... (8116 characters truncated) ... .08284389227628708, -0.042704299092292786, 0.036184970289468765, 0.0296776182949543, 0.07419205456972122, 0.07512464374303818, -0.041104286909103394]'}  ... displaying 10 of 3185 total bound parameter sets ...  {'id': 3184, 'CourseName': 'Rigid Body Dynamics', 'University': 'Korea Advanced Institute of Science and Technology(KAIST)', 'DifficultyLevel': 'Beginner', 'CourseRating': 4.6, 'CourseDescription': "This course teaches dynamics, one of the basic mechanics subjects of Mechanical Engineering. Students would be able to organize their knowledge about ... (365 characters truncated) ... ). These contain a couple of practice problem solving. There will also be standalone homeworks that are not part of video lectures, and a final exam.", 'Skills': 'angular mechanical design fluid mechanic frame rig molecular dynamic classical mechanic energy lecture robotic physical science engineering mechanical engineering', 'Specialized': 'Physical Science and Engineering', 'BERT_Encoded': '[-4.36772071e-02 -2.17585921e-01  6.42734289e-01 -3.91916558e-02\n  8.42182152e-03  4.77498621e-02  1.84081793e-01 -1.09812535e-01\n -2.03486145e-01  ... (12373 characters truncated) ...  -1.81236759e-01\n  2.41929874e-01 -1.01749182e-01 -1.04263239e-01 -2.48360962e-01\n -4.93874907e-01 -4.54797924e-01 -1.72097653e-01 -3.54881436e-02]', 'Course_Name_Encoded': '[ 2.57868655e-02 -1.76331729e-01 -1.95781782e-01  1.55721664e-01\n -8.84179696e-02 -3.14776376e-02  3.18530709e-01 -6.45412952e-02\n -3.95757437e-01  ... (12373 characters truncated) ...  -1.13139547e-01\n  3.59063327e-01 -3.58649075e-01  1.22000158e-01 -1.78362489e-01\n -1.64079621e-01 -1.59197167e-01 -1.86293811e-01  1.74056083e-01]', 'SkillVectors': '[-0.07968100905418396, -0.022795910015702248, -0.06470061093568802, -0.03862724080681801, -0.0392768457531929, -0.01773104816675186, -0.0098597686737 ... (8110 characters truncated) ... .01151407789438963, -0.061276957392692566, -0.126027449965477, -0.06911993771791458, 0.041991934180259705, 0.06186402216553688, -0.11014214158058167]'}, {'id': 3185, 'CourseName': 'Architecting with Google Kubernetes Engine: Production', 'University': 'Google Cloud', 'DifficultyLevel': 'Intermediate', 'CourseRating': 4.7, 'CourseDescription': 'In this course, "Architecting with Google Kubernetes Engine: Production," you\'ll learn about Kubernetes and Google Kubernetes Engine (GKE) security; ... (785 characters truncated) ... y enrolling in this course you agree to the Qwiklabs Terms of Service as set out in the FAQ and located at: https://qwiklabs.com/terms_of_service <<<', 'Skills': 'bigtable bigquery sql google cloud platform role base access control cloud storage kubernete identity management cloud computing cloud platform computer science software development', 'Specialized': 'Computer Science', 'BERT_Encoded': '[-2.88943648e-02 -6.13997988e-02  5.36746204e-01  6.26049042e-02\n  5.34233332e-01 -1.68693036e-01  2.12471932e-01  2.55078763e-01\n -1.58125043e-01  ... (12373 characters truncated) ...  -2.73341477e-01\n  1.94254979e-01 -2.26084441e-01 -5.59798218e-02 -9.94979292e-02\n -1.82856232e-01 -2.71021485e-01 -6.89804554e-02 -3.82154970e-03]', 'Course_Name_Encoded': '[ 1.47548476e-02 -2.57490307e-01  2.55728662e-01 -1.10764392e-02\n  2.47725263e-01 -7.84334913e-02 -8.91342759e-03  2.20350489e-01\n -7.27867708e-02  ... (12373 characters truncated) ...   1.61394134e-01\n  1.66984662e-01 -3.25112075e-01  4.77400050e-02 -7.12914467e-02\n -8.91313106e-02 -3.54669064e-01  3.58719938e-02  3.03210076e-02]', 'SkillVectors': '[0.07381332665681839, 0.013079469092190266, 0.024098314344882965, -0.054116152226924896, -0.02455340325832367, 0.025579353794455528, 0.03425355255603 ... (8123 characters truncated) ...  -0.008499869145452976, 0.08522120863199234, 0.0378769189119339, 0.07147026062011719, 0.03286163881421089, 0.006295535247772932, 0.03479551523923874]'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [9]:
df.columns

Index(['id', 'CourseName', 'University', 'DifficultyLevel', 'CourseRating',
       'CourseDescription', 'Skills', 'Specialized', 'BERT_Encoded',
       'Course_Name_Encoded', 'SkillVectors'],
      dtype='object')

In [ ]:
%pip install mysql-connector-python-rf