In [1]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, Text


df = pd.read_csv("df_c.csv")
df['id'] = range(1, len(df) + 1)
df = df.drop(columns=['Course URL'])

df = df[['id'] + [col for col in df.columns if col != 'id']]

type = 'mysql+pymysql'
api = 'pymysql'
host = 'localhost'
user = 'root'
password = ''
database = 'courssistant'

uri = f"{type}://{user}:{password}@{host}/{database}"
engine = create_engine(uri)
# Course Name,University,Difficulty Level,
# Course Rating,Course URL,Course Description,
# Skills,Specialized,Name Adjusted,Description Adjusted,
# Sequence,Vector,IDF,BERT_Encoded,Course_Name_Encoded

metadata = MetaData()
courses = Table('courses', metadata,
                Column('id', Integer, primary_key=True),
                Column('Course Name', String(255)),
                Column('University', String(255)),
                Column('Difficulty Level', String(50)),
                Column('Course Rating', Float),
                Column('Course Description', Text),
                Column('Skills', Text),
                Column('Specialized', String(255)),
                Column('Name Adjusted', String(255)),
                Column('Description Adjusted', Text),
                Column('Sequence', Text),
                Column('Vector', Text),
                Column('IDF', Text),
                Column('BERT_Encoded', Text),
                Column('Course_Name_Encoded', Text),
                )

metadata.create_all(engine)

df.to_sql('courses', engine, if_exists='append', index=False)

print("Data imported successfully.")

Data imported successfully.

In [ ]:
%pip install mysql-connector-python-rf